<ion-view title="My Karrots">

  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    <button class="button button-icon icon ion-android-earth">Karrot</button>
  </ion-nav-buttons>

  <ion-nav-buttons side="right">
    <button class="button button-icon icon ion-android-forums button-right"></button>
    <button class="button button-icon icon ion-person"></button>
  </ion-nav-buttons>

  <ion-content class="has-header">

  </ion-content>

<div class="bar bar-footer bar-calm ">
    <button class="button icon ion-compose">New Karrot</button>

    <button class="button icon ion-pull-request absolute-center">Complete Karrot</button>

    <button class="button icon ion-person-add pull-right">Invite Friend</button>
</div>
</ion-view>
