<ion-view title="Challenge">
  <ion-content class="has-header padding">
    <h2>Create a Challenge</h2>
      <form ng-submit="newChallenge()">
        <div class="padding">
          <label class="item item-input">
            <input type="text" placeholder="Describe Challenge" ng-model="challengeData.desc">
          </label>
        </div>

          <div class="padding">
            <div class="item item-divider">
              Others can see I am doing this: {{ challengeData.viewable }}
            </div>

            <ion-radio ng-repeat="item in viewable"
                       ng-value="item.value"
                       ng-model="challengeData.viewable">
              {{ item.text }}
            </ion-radio>
          </div>

          <div class="padding">
            <button type="submit" class="button button-block button-positive">Create Challenge</button>
          </div>

      </form>
  </ion-content>
</ion-view>
