<!-- 
  Create tabs with an icon and label, using the tabs-positive style. 
  Each tab's child <ion-nav-view> directive will have its own 
  navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top">


  <!-- Pets Tab -->
  <ion-tab title="New Challenge" icon="icon ion-compose" href="#/tab/challenge">
    <ion-nav-view name="tab-challenge"></ion-nav-view>
  </ion-tab>


  <!-- Adopt Tab -->
  <ion-tab title="Join Track" icon="icon ion-pull-request" href="#/tab/join-track">
    <ion-nav-view name="tab-join-track"></ion-nav-view>
  </ion-tab>


  <!-- About Tab -->
  <ion-tab title="Invite Friend" icon="icon ion-person-add" href="#/tab/invite">
    <ion-nav-view name="tab-invite"></ion-nav-view>
  </ion-tab>


</ion-tabs>
