/* Empty. Add your own CSS if you like */
.button-right{
  position:fixed;
  right:80px;
}

.center-container {
  position: relative;
}

.absolute-center {
  width: 50%;
  height: 50%;
  overflow: auto;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 5px; right: 0;
}

