.center-container {
  position: relative;
}

.absolute-center {
  width: 120px;
  height: 50%;
  overflow: auto;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 5px; right: 0;
}
.blarf {
  color:#FFF;
  background-color: blue;
}


